<% if booklet_files.any? %>
	<%  booklet_files.each_with_index do |bf,index| %>
		<% full_file_name = bf.split('/').last %>
		<% file_name = full_file_name.split('.').first%>
		<% ext_name  = full_file_name.split('.').last%>
    <tr data-booklet-file-path="<%= bf%>" class="highlight">
      <td class="align-middle">
        <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
          <input type="checkbox" class="custom-control-input tbcs-file-check-box booklet-selected" id="bf-selected-<%= full_file_name.downcase%>" checked>
          <label class="custom-control-label" for="bf-selected-<%= full_file_name.downcase%>"></label>
        </div>
      </td>
      <td class="text-nowrap align-middle"> <%= link_to file_name , downloade_booklet_path(file_name: full_file_name) %></td>
      <td class="text-center align-middle"><%= "."+ext_name %></td>
    </tr>
  <% end %>
<% end %>
